<div class="container-addtodo is-flex is-flex-direction-column" style="gap:20px">
    <div class="field is-flex is-justify-content-space-between is-marginless " style="gap: 50px;">


        <div class="is-flex is-flex-direction-row is-flex-grow-5 " style="gap: 10px;">
            <label class="is-flex-grow-1 is-marginless is-flex is-align-items-center " style="display: inline-block; max-width: fit-content;">Tên công việc</label>
            <div class="is-flex-grow-4">
                <input class="input" type="text" placeholder="Text input" @bind="title">
            </div>
        </div>


        <div class="is-flex is-justify-content-space-between is-flex-grow-1">
            <div class="field is-flex is-small is-marginless " style="gap: 10px;">
                <label class="is-marginless is-flex is-align-items-center" style="font-size: 0.8em; display: inline-block; max-width: fit-content;">Độ ưu tiên</label>
                <div class="control is-flex is-flex is-align-items-center ">
                    <div class="select is-small ">
                        <select @bind="selectedPriority">
                            <option class="is-small">Bình thường</option>
                            <option class="is-small">Quan trọng</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field is-flex is-small is-marginless " style="gap: 10px;">
                <label class="is-marginless is-flex is-align-items-center" style="font-size: 0.8em; display: inline-block; max-width: fit-content;">Bắt đầu</label>
                <div class="control is-flex is-flex is-align-items-center ">
                    <div class="select is-small ">
                        <select @bind="selectedStart">
                            <option class="is-small">7:00</option>
                            <option class="is-small">8:00</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field is-flex is-small is-marginless " style="gap: 10px;">
                <label class="is-marginless is-flex is-align-items-center" style="font-size: 0.8em; display: inline-block; max-width: fit-content;">Kết Thúc</label>
                <div class="control is-flex is-flex is-align-items-center ">
                    <div class="select is-small ">
                        <select @bind="selectedEnd">
                            <option class="is-small">10:00</option>
                            <option class="is-small">12:00</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field is-flex is-small is-marginless " style="gap: 10px;">
                <label class="is-marginless is-flex is-align-items-center" style="font-size: 0.8em; display: inline-block; max-width: fit-content;">Tình Trạng</label>
                <div class="control is-flex is-flex is-align-items-center ">
                    <div class="select is-small ">
                        <select @bind="selectedStatus">
                            <option class="is-small">To do</option>
                            <option class="is-small">Done</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="is-flex is-flex-direction-row" style="gap: 10px;">
        <label class="is-flex-grow-1 is-marginless is-flex is-align-items-center " style="display: inline-block; max-width: fit-content;">Mô tả</label>
        <div class="is-flex-grow-4">
            <input class="input" type="text" placeholder="Text input" @bind="description">
        </div>
    </div>

    <div class="is-flex is-flex-direction-row" style="gap: 10px;">
        <label class="is-flex-grow-1 is-marginless is-flex is-align-items-center " style="display: inline-block; max-width: fit-content;">Tên công việc</label>
        <div class="is-flex-grow-4">
            <input class="input" type="text" placeholder="Text input">
        </div>

    </div>

    <div class="is-flex is-flex-direction-row" style="gap: 10px;">
        <label class="checkbox">
            <input type="checkbox">
            Remember me
        </label>
    </div>


    <div class="control" style="margin-left:auto">
        <div class="buttons">
            <span class="button is-ghost has-text-link has-text-weight-normal">
                <span class="icon"><i class="material-icons-outlined font_14"></i></span>
                <span class="font_14" @onclick="AddWork"> Cập Nhập Công việc </span>
            </span>
        </div>
    </div>


</div>
@code {

    private string title = "";
    private string description = "";
    private string selectedPriority = "";
    private string selectedStart = "";
    private string selectedEnd = "";
    private string selectedStatus = "";


    private async void AddWork()
    {
        ToDo todo = new ToDo("111", title, description, selectedPriority, selectedStatus, selectedStart, selectedEnd);
        await DbToDo.AddToDo(todo);
        Console.WriteLine("Add Work");
    }


}
