@page "/"

<div class="container-a">

    <div class="header">

        <div class="nav">

            <div class="is-flex is-align-items-center">

                <h1 class="title is-secondary-40 has-text-weight-bold mb-0 mr-6 is-flex-grow-1">TODOLIST</h1>


                <div class="is-flex is-align-items-center is-justify-content-space-between is-flex-grow-5">
                    <div>
                        <div class="dropdown is-hoverable is-left">
                            <div class="dropdown-trigger">
                                <span class="icon-text is-clickable">
                                    <span class="is-secondary-40 font_14">
                                        Chờ xác nhận
                                    </span>
                                    <span class="icon is-small"><i class="material-icons-outlined"></i></span>
                                </span>
                            </div>
                            <div class="dropdown-menu">
                                <div class="dropdown-content">
                                    <div class="dropdown-item">
                                        <span class="icon-text">
                                            <span class="icon font_12 is-secondary-40"><i
                                                    class="material-icons-outlined">add_task</i></span>
                                            <span class="font_12 is-secondary-10 has-text-weight-semibold ml-1">Việc
                                                được giao <span class="is-secondary-40 has-text-weight-normal">chờ xác
                                                    nhận của 7 ngày tiếp theo</span></span>
                                        </span>
                                    </div>
                                    <div class="dropdown-item">
                                        <span class="icon-text">
                                            <span class="icon font_12 is-secondary-40"><i
                                                    class="material-icons-outlined">assignment</i></span>
                                            <span class="font_12 is-secondary-10 has-text-weight-semibold ml-1">Việc đã
                                                giao <span class="is-secondary-40 has-text-weight-normal">chờ xác nhận
                                                    của 7 ngày tiếp theo</span></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span class="icon-text">
                            <!--!--><span class="icon"><span class="icon font_14 is-secondary-40"><i
                                        class="material-icons-outlined"></i></span></span>
                            <a href="/todolist/receive" style="text-decoration-line: underline"
                                class="is-primary-40 has-text-weight-bold is-clickable font_14">0</a>
                        </span>
                    </div>
                    <div>
                        <span class="icon-text">
                            <!--!--><span class="icon"><span class="icon font_14 is-secondary-40"><i
                                        class="material-icons-outlined"></i></span></span>
                            <a href="/todolist/send" style="text-decoration-line: underline"
                                class="is-primary-40 has-text-weight-bold is-clickable font_14">0</a>
                        </span>
                    </div>
                    <span>
                        <!--!-->
                        Chuỗi ngày không trễ todolist:
                        <span class="is-secondary-10 has-text-weight-bold">0</span>
                    </span>

                    <DropDown Options="@optionMenu" SelectedValue="@selectedValue"></DropDown>


                    <div class="column is-narrow">Việc chờ xử lí</div>


                    <div class="column is-narrow">
                        datetimepicker
                    </div>

                </div>

            </div>

        </div>
    </div>



    <div class="content" style="margin-top:30px">
        <div>
            <table class="table is-flex is-flex-direction-column" style="gap:20px">

                <thead>
                    <tr class="is-flex">
                        <th style="width: 72%;">Danh sách công việc</th>
                        <th style="width: 7%;">Độ ưu tiên</th>
                        <th style="width: 7%;">Bắt đầu</th>
                        <th style="width: 7%;">Kết thúc</th>
                        <th style="width: 7%;">Tình trạng</th>
                    </tr>


                </thead>

                @foreach (var item in todos)
                {
                    <tr>
                        <C_ToDo Model=item isEdit="false" OnCancel="CancelToDo" OnUpdate="UpdateToDo" > </C_ToDo>
                    </tr>
                }

                @foreach (var item in list_temp_todo)
                {
                    <tr>
                        <C_ToDo Model=item isEdit="true" OnCancel="CancelToDo" OnUpdate="UpdateToDo" > </C_ToDo>
                    </tr>
                }
            </table>
        </div>
    </div>



    <div class="footer">
        <div class="field is-grouped is-grouped-multiline">
            <div class="control is-expanded has-text-weight-semibold has-text-link">
                <div>
                    Bạn chưa có công việc cho ngày 08/01.Hãy bắt đầu tạo công việc thôi nào!
                </div>
            </div><!--!-->
            <div style="margin-left:auto">
                <button @onclick="AddToDo" class="button is-primary">Thêm công việc</button>
            </div>
        </div>
    </div>


</div>

@code {


    List<DropDown.DropdownOption> optionMenu = new List<DropDown.DropdownOption>
{
new DropDown.DropdownOption { Value = "option1", Text = "Option 1" },
new DropDown.DropdownOption { Value = "option2", Text = "Option 2" },
new DropDown.DropdownOption { Value = "option3", Text = "Option 3" }
};

    public bool isEdit = true;

    

    public string? selectedValue { get; set; }
    public List<Model.ToDo> todos = new List<Model.ToDo>();
    public List<Model.ToDo> list_temp_todo = new List<Model.ToDo>();

    protected async override void OnInitialized()
    {
        todos = await DbToDo.GetAllToDo();
    }

    private void AddToDo()
    {
        list_temp_todo.Add(new Model.ToDo
            {
                title = "",
                description = "",
                priority = "",
                status = "",
                timeStart = "",
                timeEnd = ""
            });
    }

    private void CancelToDo(string id)
    {
        list_temp_todo.RemoveAt(list_temp_todo.FindIndex(x => x.id.Equals(id)));
    }

    private async void UpdateToDo(string id)
    {
        list_temp_todo.RemoveAt(list_temp_todo.FindIndex(x => x.id.Equals(id)));
        todos = await DbToDo.GetAllToDo();
    }
}